.formWrapper{
    margin: auto;
}

.goalButton{
    border: none;
    margin-left: 3rem;
    border-radius: 10rem;
    padding: .1rem 1rem;
    font-size: 1.9rem;
    font-family: 'Droid Sans', sans-serif;
    background-color: #019875;
    color: #fff;
    transition: 0.2s ease-out;
    text-align: center;
}

.goalButton:hover{
    background-color: #02BA85;
    color: #fff;
    transition: 0.2s ease-out;
}

.goalInput{
    width: 800px;
    min-width: 800px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
}

.goalInput:focus{
    background-color: #E4F1FE;
    color: #111;
    transition: 0.2s ease-in;
}