.header-color{
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (min-width: 1024px) {
  .mdl-layout__drawer-button {
    display: none !important;
    font-size: 2rem;
 }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer-button {
    font-size: 1rem !important;
    color: #fff !important;
    margin: 1rem !important;
    display: block;
    position: absolute;
  }
}


.mdl-layout__header-row {
  padding: 0 0 0 3rem !important;
}

.mdl-navigation__link {
  font-size: 3rem;
}

.mdl-layout__header-row .mdl-navigation__link {
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 0.4rem;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  margin-top: 3rem !important;
  font-size: 3rem;
}

.MuiButton-root {
  font-size: 1.1rem !important;
}

.MuiTypography-body2 {
  font-size: 1rem !important;
}
.login-grid{
  background-color: #cfdef3 !important;
  width: 100%;
  height: 100%;
}

.homeNavigation .mdl-navigation__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: .6rem;
  letter-spacing: .2rem;
  text-overflow: ellipsis;
}

.homeMenu .MuiAppBar-colorPrimary {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 4rem;
}

.mdl-layout__content {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homeMenu .homeNavigation .mdl-navigation__link {
  font-size: 2rem;
}
.homeMenu .MuiIconButton-label {
  font-size: 10rem;
}

.homeMenu .MuiSvgIcon-root {
  font-size: 2.3rem;
}

.homeMenu .MuiIconButton-colorInherit {
  padding: 0 2.4rem;
}

.MuiTypography-h5 {
  color: #37308a !important;
  font-size: 3rem !important;
}

.goalsWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.goalsHeader {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 2.2em;
  color: #fff;
  text-align: center;
  align-content: center;
  padding: 5rem 0rem 4rem 0rem;
  letter-spacing: .2rem;
  margin-bottom: 6px;
  text-shadow: 3px 3px 10px #000;
  display: block;
}

.goalsBody {
  padding-top: 24px;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.goalsFooter {
  display: flex;
}


.dashboard-grid {
 padding: 10rem;
}

.mission-grid h1, .contact-grid h1, .blog-grid h1 {
  font-size: 2.6rem;
  padding: 2rem;
  text-align: center;
  font-family: 'Sawarabi Mincho', sans-serif;
  display: inline-block;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color:rgb(255, 255, 255);
}

.mission-grid h3, .contact-grid h3, .blog-grid h3 {
  font-size: 2rem;
  padding: 3rem;
  font-family: 'Sawarabi Mincho', sans-serif;
  display: inline-block;
  position: relative;
  margin-top: 2rem;
  color:rgb(255, 255, 255);
}

.blog-grid h4 {
  font-size: 1.7rem;
  padding-top: 0.2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: 'Sawarabi Mincho', sans-serif;
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
  color:rgb(255, 255, 255);
}

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  margin-top: 10px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #FEAC5E;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(12, 12, 12, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(15, 15, 15, 0.15);
  transform: translateY(0);
}

.categoryList {
  display: inline-block;
  padding-bottom: 3rem;
}

.piorityList {
  display: inline-block;
  padding-bottom: 3rem;
}