.goalsWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.goalsHeader {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 2.2em;
  color: #fff;
  text-align: center;
  align-content: center;
  padding: 2rem 0rem 15rem 0rem;
  letter-spacing: 0.2rem;
  text-shadow: 3px 3px 10px #000;
  display: block;
  font-family: "Sawarabi Mincho", sans-serif;
}

@media screen and (max-width: 624px) {
  .goalsHeader {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem 0rem 11rem 0rem;
  }
}

.goalsBody {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  margin-bottom: 3rem;
}

.goalsFooter {
  display: flex;
}

.mdl-grid {
  display: inline !important;
  padding: 10rem;
}
