.homeMenu .MuiAppBar-colorPrimary {
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 4rem;
  }

  .homeNavigation .mdl-navigation__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: .6rem;
    letter-spacing: .2rem;
    text-overflow: ellipsis;
  }
  
  .mdl-layout__content {
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .homeMenu .homeNavigation .mdl-navigation__link {
    font-size: 2rem;
  }
  .homeMenu .MuiIconButton-label {
    font-size: 10rem;
  }
  
  .homeMenu .MuiSvgIcon-root {
    font-size: 2.3rem;
  }
  
  .homeMenu .MuiIconButton-colorInherit {
    padding: 0 2.4rem;
  }