.categoryList {
  display: inline-block;
  padding-bottom: 3rem;
}

button {
  border-radius: 10rem !important;
  font-size: 2rem !important;
  background-color: #fff;
}

@media screen and (max-width: 624px) {
  button {
    font-size: 1.5rem !important;
    margin-bottom: 3rem;
  }
}
